<header class="app-header w-full h-fit mb-16 p-4 px-8 text-mist-900 flex items-center justify-between">
    <!-- App Title -->
    <div class="app-title-container flex items-center space-x-2">
        <h1 class="app-title text-4xl text-mist-900 font-bold">teal</h1>
        <div class="isotipo flex -space-x-2">
        <div class="w-4 h-4 bg-teal-500/75 rounded-full"></div>
        <div class="w-4 h-4 mt-1 bg-red-500/75 rounded-full"></div>
        </div>
    </div>

    <!-- Navigation -->
    <nav class="app-nav space-x-4 text-mist-600 text-2xl ">
        <a routerLink="/" class="nav-link cursor-pointer hover:text-teal-600">Home</a>
        <a routerLink="/Productos" class="nav-link cursor-pointer hover:text-teal-600">Productos</a>
        <a routerLink="/about" class="nav-link cursor-pointer hover:text-teal-600">About</a>
        <a routerLink="/contacto" class="nav-link cursor-pointer hover:text-teal-600">Contact</a>
    </nav>

    <!-- Theme Toggle Button -->
    <button class="theme-toggle px-4 py-2 bg-teal-600 text-white text-xl rounded-full cursor-pointer hover:bg-teal-700">Toggle Theme</button>
</header>
